version: '3'
services:
  nats:
    image: docker.pkg.github.com/dioptre/nats/nats:latest
    ports:
      - "4222:4222"
      - "6222:6222"
      - "8222:8222"
    networks:
      - default
    container_name: nats
  cassandra:
    image: docker.pkg.github.com/dioptre/elassandra-docker/elassandra:latest
    ports:
      - "9042:9042"
      - "9160:9160"
      - "9200:9200"
    networks: 
      - default  
    # hostname: cassandra
    container_name: cassandra
    volumes: 
      - ./xcs/.setup:/tmp/.csetup
    command: >
              bash -c "((sleep 90s && sed -e 's/msgxc/msgxc/' '/tmp/.csetup/schema/cassandra/schema.1.cql' > '/tmp/schema.1.cql' && cqlsh --ssl -f '/tmp/schema.1.cql' && sed -e 's/msgxca/msgxca/' '/tmp/.csetup/schema/cassandra/elastic.1.sh' > '/tmp/elastic.1.sh' && /tmp/elastic.1.sh &) && (/docker-entrypoint.sh cassandra -f))"
  