python-dotenv
flask
gunicorn
gevent
flask_cors
elasticsearch>=6.0.0,<7.0.0
pytest
pyjwt
python-jose
pyhive[hive]
thrift
pandas
sasl

#Ex.
#-e editableproject
#-e git+git@github.com:psytron/keycache.git#egg=keycache